extends ../base
block title
  |EGO
block main
  include ../partials/mobile-menu.pug
  include ../partials/hero.pug

  section.content.is-main
    div.consoles
      div.container
        div.consoles__title
          h2 Popular Games
          a.consoles__all(href='#') View All Games
        div.games
          ul.games__list
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title



