extends ../base
block title
  |EGO
block main
  include ../partials/mobile-menu.pug
  main.main
    div.top-menu
      div.container
        div.breadcrumbs
          ul.breadcrumbs__list
            each el in breadcrumbs3
              li.breadcrumbs__el
                a.breadcrumbs__link(href=el.link)= el.title
    // end breadcrumbs
    section.content.is-2-inner
      div.container
        div.title-head
          h2 Search for: Mario
        div.games
          ul.games__list
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title
            li.games__el
              div.game
                a.game__link(href='#')
                  div.game__img
                    img(src=require('./../../media/game.png'))
                    span.play Play
                  div.game__name
                    p Ultimate Muscle - The Kinnikuman Legacy - T
                div.game__categories
                  ul.tags.is-small
                    each el in tags2
                      li.tags__el
                        a.tags__link(href=el.link)= el.title

