extends ../base
block title
  |EGO
block main
  include ../partials/mobile-menu.pug
  main.main
    div.top-menu
      div.container
        div.breadcrumbs
          ul.breadcrumbs__list
            each el in breadcrumbs2
              li.breadcrumbs__el
                a.breadcrumbs__link(href=el.link)= el.title
    // end breadcrumbs
    section.content.is-3-inner
      div.container
        div.content__top
          div.banner
            a.banner__link(href='#')
              img.banner__img(src=require('./../../media/banner.png'))
          div.title-head
            h2 Pokemon Games
            p Explore a brand new world where friendly and hostile monsters can be captured, tamed, and trained! Catch all Pokemon and try to be the best trainer in the world! We have a selection of various Pokemon games from the classic Pokemon Red and Yellow released for the Game Boy handheld console to the latest Pokemon games for the Game Boy Advance (GBA) system created by Nintendo. We also have a huge selection of Pokemon ROM hacks that range from minor improvements and optimizations to major game overhauls and parodies. Play high quality Pokemon games directly with no registration required!
        div.content__wrap
          div.content__left
            div.games
              ul.games__list
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
                li.games__el
                  div.game
                    a.game__link(href='#')
                      div.game__img
                        img(src=require('./../../media/game.png'))
                        span.play Play
                      div.game__name
                        p Ultimate Muscle - The Kinnikuman Legacy - T
                    div.game__categories
                      ul.tags.is-small
                        each el in tags2
                          li.tags__el
                            a.tags__link(href=el.link)= el.title
            div.pagination
              ul.pagination__list
                li.pagination__el
                  a.pagination__link(href='#', title='Previous page')
                    span.icon.is-arrow-left
                    span Prev
                li.pagination__el
                  a.pagination__link(href='#') 1
                li.pagination__el.is-active
                  a.pagination__link(href='#') 2
                li.pagination__el
                  a.pagination__link(href='#') 3
                li.pagination__el
                  a.pagination__link(href='#') 4
                li.pagination__el
                  a.pagination__link(href='#', title='Previous page')
                    span Next
                    span.icon.is-arrow-right
            // end pagination

          //end content__left
          div.content__right
            aside.aside.is-small
              ul.games-list
                each el in gamesList
                  li.games-list__el
                    a.games-list__link(href=el.link)= el.title
          //end content__right

